.navbar {
  border-radius: 0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 500;
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 1000;
}

h1 {
  font-size: 200;
}
